B2C/OrdenesDAC/Service References/ValidateCreditCardSVC/CreditCardValidation1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://card.com.co/CreditCardValidation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://card.com.co/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="CreditCardValidation" targetNamespace="http://card.com.co/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema targetNamespace="http://card.com.co/CreditCardValidation" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="CreditCard">
        <sequence>
          <element name="ccType" nillable="true" type="string" />
          <element name="ccNum" type="string" />
        </sequence>
      </complexType>
      <element name="CreditCard" type="xsd1:CreditCard" />
      <element name="valid" type="boolean" />
      <element name="error" type="string" />
    </schema>
  </types>
  <message name="CreditCardValidationRequestMessage">
    <part name="CreditCard" element="xsd1:CreditCard" />
  </message>
  <message name="CreditCardValidationResponseMessage">
    <part name="valid" element="xsd1:valid" />
  </message>
  <message name="CreditCardValidationFaultMessage">
    <part name="error" element="xsd1:error" />
  </message>
  <portType name="ValidateCreditCard">
    <operation name="VerifyCC">
      <input name="CreditCardInfo" message="tns:CreditCardValidationRequestMessage" />
      <output message="tns:CreditCardValidationResponseMessage" />
      <fault name="NegativeCreditBalance" message="tns:CreditCardValidationFaultMessage" />
    </operation>
  </portType>
  <binding name="ValidateCreditCardBinding" type="tns:ValidateCreditCard">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="VerifyCC">
      <soap:operation soapAction="" />
      <input name="CreditCardInfo">
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="NegativeCreditBalance">
        <soap:fault use="literal" name="NegativeCreditBalance" namespace="" />
      </fault>
    </operation>
  </binding>
</definitions>