MiddleWare/CONTRATOS/RapidServiceCotizacion.wsdl

<?xml version="1.0"?>
<definitions name="RapidServiceCotizacion" xmlns:xsd1="http://rapidservice.com.co/RapidServiceCotizacion" targetNamespace="http://rapidservice.com.co/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://rapidservice.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<schema targetNamespace="http://rapidservice.com.co/RapidServiceCotizacion" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="Item">
				<sequence>
					<element name="itemId" type="string" nillable="true"/>
					<element name="quantity" type="long"/>
				</sequence>
			</complexType>
                        
                        <element name="orderQuouteElement">
                            <complexType>
                                <sequence>
                                    <element name="orderId" type="string" nillable="true"/>
                                </sequence>
                            </complexType>
                        </element>   
                        <element name="orderQuouteResponseElement">
                            <complexType>
                                <sequence>
                                    <element name="result" type="boolean"/>
                                </sequence>
                            </complexType>
                        </element>                                                                  
                        <element name="processQuouteElement">
                            <complexType>
                                <sequence>
                                    <element name="orderId" type="string" nillable="true"/>
                                    <element name="items" type="xsd1:Item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                                </sequence>
                            </complexType>
                        </element>    
                        <element name="processQuouteResponseElement">
                            <complexType>
                                <sequence>
                                <element name="result" type="xsd1:Quoute" nillable="true"/>
                                </sequence>
                            </complexType>
                        </element>    
                        <complexType name="Quoute">
                                <sequence>
                                    <element name="supplierPrice" type="string" nillable="true"/>
                                </sequence>
                        </complexType>
                                                                    
		</schema>
	</types>
	<message name="RapidService_orderQuoute">
		<part name="parameters" element="xsd1:orderQuouteElement"/>
	</message>
	<message name="RapidService_orderQuouteResponse">
		<part name="parameters" element="xsd1:orderQuouteResponseElement"/>
	</message>
	<message name="RapidService_processQuoute">
		<part name="parameters" element="xsd1:processQuouteElement"/>
	</message>
	<message name="RapidService_processQuouteResponse">
		<part name="parameters" element="xsd1:processQuouteResponseElement"/>
	</message>	
        <portType name="RapidService">
		<operation name="orderQuoute">
			<input message="tns:RapidService_orderQuoute"/>
			<output message="tns:RapidService_orderQuouteResponse"/>
		</operation>
		<operation name="processQuoute">
			<input message="tns:RapidService_processQuoute"/>
			<output message="tns:RapidService_processQuouteResponse"/>
		</operation>
                
	</portType>
    <binding name="RapidServiceBinding" type="tns:RapidService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="orderQuoute">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="processQuoute">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
</definitions>
